---
import { pwaInfo } from 'virtual:pwa-info'
import '@unocss/reset/tailwind-compat.css'
import '@/assets/main.css'

export interface Props {
	title?: string
	class?: string
	themeColor?: string
}

const pageTitle = Astro.props.title ? `${Astro.props.title} - MayScreen` : 'MayScreen'
const pageClass= Astro.props.class || 'h-[100svh] bg-base fg-base'
const themeColor = Astro.props.themeColor || '#0A0A0A'
---

<!DOCTYPE html>
<html lang="zh-CN" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<link rel="icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
		<link rel="mask-icon" href="/mask-icon.svg" color="#fdfdfd">
		<meta name="theme-color" content={themeColor}>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<meta name="description" content="五迷创作的云端提词器">
		{ import.meta.env.HEAD_SCRIPTS ? <Fragment set:html={import.meta.env.HEAD_SCRIPTS} /> : null }
		<script src="/src/pwa.ts"></script>
    { pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
	</head>
	<body class={pageClass}>
		<slot />
	</body>
</html>
